DEBUG=false
SECRET_KEY=yourrekmsldfnsdjlnsdjlfnsdjfnsdjfsecret

DATABASE_URL=postgres://postgres:postgres@db:5432/postgres

POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=postgres

REDIS_URL=rediscache://redis:6379/0?client_name=django_redis.client.DefaultClient
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2
REDIS_PORT=6379

OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=gemma3:270m
OLLAMA_TIMEOUT_SECONDS=120

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,http://0.0.0.0
